<div class="col-md-6 col-md-offset-3">

  <%= form_tag("/order/", method: "post")  do %>


    <%= label_tag(:mobile, "Mobile") %>
    <%= text_field_tag :mobile,"", class: "form-control" %><br>


      <%= label_tag(:address, "Address") %><br>

      <%= label_tag(:hno, "House or Flat no:") %>
    <%= text_field_tag :flatnum,"", class: "form-control" %><br>
    
    <%= label_tag(:street, "Street") %>
    <%= text_field_tag :street,"", class: "form-control" %><br>
    
    <%= label_tag(:Landmark, "landmark") %>
    <%= text_field_tag :landmark,"", class: "form-control" %><br>

    <%= label_tag(:pincode, "Pincode") %>
    <%= text_field_tag :pincode,"", class: "form-control" %><br>

       <%= label_tag(:schedule, "Schedule") %><br>

      <%= label_tag(:pickupdate, "Pick up date") %><br>
      <%= select_tag :pickupdate, options_for_select(Slot.pick_up_dates),{class: "form-control"} %><br>

       <%= label_tag(:pickslot, "Pick up time") %><br>
      <%= select_tag :pslot,options_for_select(""),{class: "form-control"} %><br>

	  <%= label_tag(:deldate, "Delivery date") %><br>
      <%= select_tag :deldate, options_for_select(Slot.delivery_dates),{class: "form-control"} %><br>


     <%= label_tag(:delslot, "Delivery time") %><br> 
     <%= select_tag :dslot,options_for_select(""),{class: "form-control"} %><br>

    <%= submit_tag("Schedule", class: "btn btn-primary") %>
  <% end %>
</div>